<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.java.model.User">
        <id column="id" property="id"/>
        <result column="realName" property="realName"/>
        <result column="age" property="age"/>
        <result column="createdTime" property="createdTime"/>
        <result column="updatedTime" property="updatedTime"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="getUserById" parameterType="int" resultType="com.java.model.User">
        select * from `user`
        <if test="id != null">
            where id = #{id}
        </if>
    </select>

    <select id="getUser" resultMap="BaseResultMap">
        select * from `user`
    </select>
</mapper>